<!--(set_escape)-->None<!--(end)-->
\header {
  <!--(if meta['textby'])-->
  poet = "טעקסט: @!meta['textby']!@"
  <!--(end)-->
  <!--(if meta['musicby'])-->
  composer = "מוזיק: @!meta['musicby']!@"
  <!--(end)-->
  title = "@!meta['songname']!@"
  subtitle = "@!meta['songname_eng']!@"
  }
@!music!@
