body {
    width: 85%;
    max-width: 45em;
    margin: auto;
    }

footer {
    border-top: solid 1px black;
    text-align: center;
    direction: ltr;
}

@media screen and (min-width: 36em) {
    footer li {
        display: inline;
        margin: 1em;
        white-space: nowrap;
        }
}

ul {
    list-style: none;
    padding: 0
}

li ul {
    padding-right: 1.5em;
}

ul li ul li ul {
    list-style: outside
}

li {
    padding-bottom: .75em;
}

.downloads {
    direction: ltr;
    display: block;
    padding-right: 1em;
    font-size: .75em;
}
.downloads:after { 
    content:  "\00AB" 
}
.entry-name {
    display: block;
}
.dots {
    border-bottom: dotted 2px;
    overflow: auto;
    position: relative;
    top: -6px;
    display: none;
}

    @media screen and (min-width: 27em) {
        .dots {
            display: block;
        }
        .downloads {
            padding-right: 5px;
            float: left;
            font-size: 1em;
        }
        .downloads:after { 
            content:  "" 
        }
        .entry-name {
            padding-left: 5px;
            float: right;
        }
        li {
            padding-bottom: 0;
        }
        li ul {
            padding-right: 0;
        }
}

.entry:after {
    content: "";
    display: table;
    clear: both;
}



.medallion {
    text-align: center;
    margin: 0 auto 1em auto;
    display: block
}

